---
layout: default
---

<a href="{{ "/" | absolute_url }}">Introduction</a>
<ol>
  <li><a href="{{ "/installation" | absolute_url }}">Installation</a></li>
  <li><a href="{{ "/" | absolute_url }}">Application software</a></li>
  <li><a href="{{ "/" | absolute_url }}">Change log</a></li>
  <li><a href="{{ "/" | absolute_url }}">Getting started</a></li>
</ol>
<a href="{{ "/" | absolute_url }}">User interface</a>
<ol>
  <li><a href="{{ "/" | absolute_url }}">Client settings</a></li>
  <li><a href="{{ "/" | absolute_url }}">Maps</a></li>
  <li><a href="{{ "/" | absolute_url }}">Profiles</a></li>
  <li><a href="{{ "/" | absolute_url }}">Server-side flags and settings</a></li>
  <li><a href="{{ "/" | absolute_url }}">Media - screenshots</a></li>
</ol>
<a href="{{ "/" | absolute_url }}">Scripting</a>
<ol>
  <li><a href="{{ "/" | absolute_url }}">Basics</a></li>
  <li><a href="{{ "/" | absolute_url }}">Scripting API</a></li>
  <li><a href="{{ "/" | absolute_url }}">Scripting with Lich</a></li>
  <li><a href="{{ "/" | absolute_url }}">Development</a></li>
</ol>

{{ content }}

